<!DOCTYPE html>
<html>
<head>
  <div th:insert="~{header :: head}"></div>
</head>

<body>
<!-- ======= Header ======= -->
<div th:insert="~{header :: navbar}"></div>
<!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>歡迎來到 <span>營業秘密管理系統</span></h1>
      <h2>請各位同仁踴躍登記營業秘密，還有機會獲選為優質營業秘密獲得高額獎金!!</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">關於營業秘密</a>
        <!--/*<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>*/-->
      </div>
    </div>
  </section><!-- End Hero -->
  
  <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>各部門登記數</h2>
		</div>
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-heart-eyes-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="542" data-purecounter-duration="1" class="purecounter"></span>
              <p>研發中心</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-emoji-sunglasses-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="388" data-purecounter-duration="1" class="purecounter"></span>
              <p>製造中心BU1</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-emoji-wink-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="310" data-purecounter-duration="1" class="purecounter"></span>
              <p>製造中心BU2</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-emoji-smile-fill"></i>
              <span data-purecounter-start="0" data-purecounter-end="244" data-purecounter-duration="1" class="purecounter"></span>
              <p>資訊中心</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>ABOUT</h2>
          <h3>營業秘密由 <span>三大要件</span> 所構成</h3>
          <div class="container featured-services mt-4" data-aos="fade-up">

	        <div class="row">
	          <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
	            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
	              <div class="icon"><i class="bi bi-shield-lock-fill"></i></div>
	              <h4 class="title"><a href="">秘密性</a></h4>
	              <p class="description">企業內部的營業秘密，可以分為「商業性營業秘密」及「技術性營業秘密」，前者是指客戶名單、經銷據點、商品售價、進貨成本、交易底價、人事管理、成本分析等與經營相關的資訊，後者則是與特定產業研發或創新技術有關的機密，包括方法、技術、製程及配方等。</p>
	            </div>
	          </div>
	
	          <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
	            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
	              <div class="icon"><i class="bi bi-coin"></i></div>
	              <h4 class="title"><a href="">經濟價值性</a></h4>
	              <p class="description">經濟價值性是指可以產出經濟利益或商業價值的資訊。如果企業取得的「客戶資訊」（例如個別客戶的消費偏好）是經由投注相當人力與財力，並經過篩選整理而獲致的資訊，而且其他企業無法從公開領域取得的話，就能夠認為是具有實際或潛在經濟價值的營業秘密。</p>
	            </div>
	          </div>
	
	          <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
	            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
	              <div class="icon"><i class="bi bi-incognito"></i></div>
	              <h4 class="title"><a href="">合理保密措施</a></h4>
	              <p class="description">是指擁有營業秘密的企業主觀上有保護該資訊的意願，客觀上也有保密的積極作為，使人了解企業有將該資訊當成秘密在保守的意思。例如簽署員工保密與競業禁止契約、於文件上標明「機密」或「限閱」等註記、對營業秘密資料予以上鎖等。</p>
	            </div>
	          </div>
			<!--/*
	          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
	            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
	              <div class="icon"><i class="bx bx-world"></i></div>
	              <h4 class="title"><a href="">Nemo Enim</a></h4>
	              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
	            </div>
	          </div>
			*/-->
	        </div>
        </div>
    </section><!-- End About Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
			<!--/* 
            <h3>HungStar semiconductor<span>.</span></h3>
            <p>
              xxxx <br>
              oooo <br>
              zzzz <br><br>
              <strong>Phone:</strong> +886 123 456<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
            */-->
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
			<!--/* 
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
            */-->
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <!--/* 
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
            */-->
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>有任何問題請洽</h4>
            <p>智權：王小明 #888888</p>
            <p>資訊：陳大偉 #666666</p>
            <!--/*
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            */-->
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>HungStar</span></strong>. All Rights Reserved
      </div>
      <!--/* 
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
      */-->
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div th:insert="~{header :: bottomJS}"></div>

</body>

</html>